<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

        <div class="social">
            <div id="youtube" class="socialicon"><a href="https://www.youtube.com/user/YouNeedMani" target="_blank" title="Youtube"></a> </div>
            <div id="facebook" class="socialicon"><a href="https://www.facebook.com/ManuelEMusic?fref=ts" target="_blank" title="Facebook"></a></div>
            <div id="soundcloud" class="socialicon"><a href="https://soundcloud.com/manuelemusic" target="_blank" title="Soundcloud"></a></div>
        </div>

</html>