<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <div class="row">
        <div class="small-12 columns">
            <div id="sprache">
                <f:cObject typoscriptObjectPath="lib.menu-language" />
            </div>
        </div>
    </div>

    <div class="row">
        <nav id="cssmenu" class="small-12 columns">
            <ul class="sub1">
                <f:cObject typoscriptObjectPath="lib.menu" />
                <li id="logo-item"><f:cObject typoscriptObjectPath="lib.logo" /></li>
            </ul>
        </nav>
    </div>

</html>