<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <f:cObject typoscriptObjectPath="lib.skiplinks" />

    <div id="wrapper" data-background="<f:cObject typoscriptObjectPath="lib.backgroundImage" />">
        <div class="desk">

            <div class="row collapse" id="header">
                <div class="column">
                    <f:render partial="Header" arguments="{_all}" />
                </div>
            </div>

            <div class="row">
                <f:cObject typoscriptObjectPath="lib.backgroundImage" />
                <!-- TYPO3SEARCH_begin -->
                <f:render section="Content" arguments="{_all}" />
                <!-- TYPO3SEARCH_end -->
            </div>

            <footer class="row bottom">
                <f:render partial="Footer" arguments="{_all}" />
            </footer>

        </div>
    </div>
</html>