<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">


    <f:cObject typoscriptObjectPath="lib.skiplinks" />

    <div id="wrapper">
        <div class="desk">

            <div id="mobile-logo">
                <a id="moblogo" href="index.html"></a>
            </div>


            <div class="row collapse" id="header">
                <div class="column">
                    <f:render partial="Header" arguments="{_all}" />
                </div>
            </div>

            <div class="row">
                <!-- TYPO3SEARCH_begin -->
                <f:render section="Content" arguments="{_all}" />


                <div class="columns">

                    <h1>{pagetitle}</h1>
                    <p>
                        <small>
                            Ok, this is an example output for the custom inherited mood image / background image fields in the page properties:<br />
                            Mood image:

                            <f:if condition="<f:cObject typoscriptObjectPath=\"lib.moodImage\" />">
                            <f:then>
                                <f:cObject typoscriptObjectPath="lib.moodImage" />
                            </f:then>
                            <f:else>
                                (not set)
                            </f:else>
                            </f:if><br />
                            Background image: <f:if condition="<f:cObject typoscriptObjectPath=\"lib.backgroundImage\" />">
                            <f:then>
                                <f:cObject typoscriptObjectPath="lib.backgroundImage" />
                            </f:then>
                            <f:else>
                                (not set)
                            </f:else>
                            </f:if>

                        </small>
                    </p>
                </div>

                <!-- TYPO3SEARCH_end -->
            </div>

            <footer class="row bottom">
                <f:render partial="Footer" arguments="{_all}" />
            </footer>


        </div> <!-- ende desk -->


    </div> <!-- Ende Wrapper -->
</html>