/*********************************************
    Content elements
**********************************************/
// Allow iFrame widths (p.e. embedded videos)
// to span 100% max (& remove frame)
iframe {
    max-width:100%;
    border:none;
}

/*********************************************
    Reset box sizing on certain elements
**********************************************/
.fancybox-wrap,
.fancybox-wrap *,
iframe * {
    box-sizing:initial;
}

/*********************************************
    Skiplinks
**********************************************/
#skiplinks {
    position:absolute;
    z-index:1000;
    top:-20000px;
    width:100%;
    margin:auto;
    padding:0;
    list-style-type:none;

    a {
        position:absolute;
        display:block;
        width:100%;
        text-align:center;
        color:#fff;

        span {
            display:inline-block;
            padding:7px 10px;
            background:$primary-color;
        }
    }
    a:focus,
    a:active,
    a:hover {
        top:20000px;
        outline:0 none;
    }
}

/*********************************************
    Remove list style from lists
    of fields (form extension)
**********************************************/
form > ol,
fieldset > ol,
form ol li ol {
    list-style-type:none;
    margin-top:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
}

.news-list-view article {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    letter-spacing: 1px;
}
.news-list-view article::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.25);
}