/*********************************************
    These styles are meant to format
    the most commonly used textmedia
    elements (text, images, videos) based
    on fluid_styled_content.
**********************************************/

// Some basic ce styles copied from fluid_styled_content
// Styles/setup.txt
.ce-left .ce-gallery,
.ce-column { float: left; }
.ce-right .ce-gallery { float: right; }
.ce-center .ce-outer { position: relative; float: right; right: 50%; }
.ce-center .ce-inner { position: relative; float: right; right: -50%; }
.ce-gallery figure,
.ce-gallery .ce-media { display: block; margin: 0; }
.ce-gallery figcaption,
.ce-gallery .ce-media .caption { display: block; }
.ce-above .ce-bodytext { clear: both; }

// Image scaling FF compatibility
.ce-textpic .ce-media,
.ce-textpic figure { width:100%; max-width:100%; }

/*********************************************
    iFrame embed preview
**********************************************/
.ce-textpic .onlineMedia {
  position: relative;
  height: 0;

  .preview,
  iframe {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .preview {
    background-position:center;
    background-size:cover;
    &:after,
    &:before{
      display:block;
      position:absolute;
      left:50%;
      top:50%;
      content:' ';
    }
    &:hover:before,

    &:before {
      border:2px solid $white;
      width:70px;
      height:70px;
      background:rgba(0,0,0,0.6);
    }
    &:after {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 30px solid $white;
    }
  }
}


/*********************************************
    Videos
**********************************************/
.ce-textpic .onlineMedia.type-4 {
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
}

/*********************************************
    SoundCloud
**********************************************/
.ce-textpic .service-soundcloud {
  padding-bottom: 25%;
  padding-top: 25px;
  min-height:100px;
}


/*********************************************
    Images
**********************************************/
// Applying 'our' styles to textmedia elements
// to fit well into foundation.
.ce-textpic {

  &.ce-center .ce-gallery { margin-left:auto; margin-right:auto; }

  .ce-gallery {
    max-width:100%;
    float:none;
    &:after {
      display:table;
      content:' ';
      clear:both;
    }
    .ce-column {
      margin-right:0;
      overflow:initial;
      float:none;
    }
  }
}

/*********************************************
    Image / media captions
**********************************************/
.ce-textpic figcaption,
.ce-textpic .caption { padding-top:1%; }