/* hack todo */
.page-15 section > h1 {
  displaY: none;
}

.news {
  .news-list-view {
    .article {
      width: 50%;
      float: left;
      text-align: left;
      padding: 20px;

      h2 a {
        color: $white;
        &:hover {
          color: $gold;
        }
      }
      p {
        text-align: left;
      }
    }
  }
}

.news-img-wrap {
  display: none;
}
.newsall{
  margin: 0 auto;
  width: 780px;
}
.news1, .news2{
  width: 350px;
  float: left;
  text-align:left;
  font-size: 1rem;
  font-weight:100;
  padding:20px;
}

.date{
  color: $gold;
  letter-spacing: 0.1em;
}

@media only screen and (max-width : 840px)  {
  .news {
    .news-list-view {
      .article {
        width: 100%;
        float: none;
        text-align: center;
        h2 a {
          color: $white;
          &:hover {
            color: $gold;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .news1, .news2 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .news1artikel,
  .date {
    text-align: center;
  }
}