/*--------------------
Allgemeine Einstellungen
---------------------*/

html {
  min-height: 100%;
}

header{
  width: 30%;
  text-align: center;
}

body{
  background-image: url('../img/manuel3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  /*font-family: "Josefin+Sans", sans-serif, "Josefin Slab", serif;*/
  font-size: 101%; /* 16px=100%/1em = 16px */
  min-height: 100%;
}

@media only screen and (max-width : 768px)  {
  body {
    background-image: url('../img/manuel2.jpg');
  }
}

h1{
  line-height: 140%;
  font-size: 210%;
  font-weight: 600;
  letter-spacing: .1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom:20px;
}

h2{
  font-size: 130%;
  font-weight: normal;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing:0.1em;
  line-height: 140%
}
h3{
  font-weight: normal;
  line-height: 140%;
  font-size: 250%;
  font-weight: 400;
  letter-spacing: .1em;
  color: white;
  text-align: center;
  /*margin-top: 20%;*/
  text-transform: uppercase;
  padding-bottom:20px;
}

section{
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #wrapper p {
    font-weight: 300;
    font-size: 130%;
  }
}

img{
  width: 100%;
  height: auto;
}

.main {
  /*background: rgba(0,0,0,.5);*/
  float: left;
  width: 100%;
  margin-top: 130px;
  /*padding-bottom: 80px;*/
  /*padding: 40px 0;
  margin-bottom: 20px;*/
}

.main.galerie {
  margin-top: 100px;
}

/*@media only screen and (max-width : 768px)  {
  .main {
    margin-top: 20px;
  }
}*/

/*------------------------
ID's ###
-------------------------*/

#wrapper{
  float: left;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.player{
  margin-top:100px;
}

.desk {
  margin: auto;
  width: 960px;
  max-width: 94%;
}

/*
#moblogo
#cssmenu #moblogo:hover,
#cssmenu #moblogo:focus
*/

#logo, #logo-iconesque {
  width: 200px;
  padding: 0;
  margin-top: 0;
  position: relative;
  top: 31px;
  height: 80px;
  display: block;
  background: url(../img/logo_final.svg) no-repeat 0 0;
  -webkit-transition: background-image 0.5s ease-out;
  -moz-transition: background-image 0.5s ease-out;
  -o-transition: background-image 0.5s ease-out;
  transition: background-image 0.5s ease-out;
  img {
    display: none;
  }
}

#logo-iconesque:hover,
#logo-iconesque:focus,
#logo:hover,
#logo:focus {
  background-image: url(../img/logo_final_gold.svg);
}

#sprache{
  position: absolute;
  right: 10px;
  top: 16px;
  z-index: 2;
  text-decoration: none;
}


@media only screen and (max-width : 825px)  {
  #cssmenu  #logo {
    width: 200px;
  }
}

@media only screen and (max-width : 768px)  {
  #cssmenu #logo {
    display: none;
  }
  #sprache {
    /*right: 17px;*/
    z-index: 4;
  }
}

#sprache a {
  margin: 0 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  &.inactive {
      pointer-events: none;
      cursor: default;
      opacity: 0.6;
  }
}

#sprache a:hover {
  color: rgb(173, 140, 89);
}

#mobile-logo {
  margin: 40px auto 0;
  display: block;
  width: 200px;
}

@media only screen and (min-width : 769px)  {
  #mobile-logo {
    display: none;
  }
}
#listen {
  vertical-align: middle;
  position: relative;
  color: white;
  line-height: 140%;
  font-size: 90%;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all  0.5s ease-out;
  -o-transition: all  0.5s ease-out;
  transition: all  0.5s ease-out;
}

#listen:hover {
  outline-color: transparent;
}

#listen a {
  padding: 20px;
  display: block;
  color: rgb(173, 140, 89);
  letter-spacing: .4em;
  text-decoration: none;
}

@media only screen and (max-width : 500px)  {
  #listen {
    width: 75%;
  }
  #listen a {
    font-size: 12px;
    padding: 10px;
    letter-spacing: .2em;
  }
}


#listen a:hover{
  color: black;
  background-color: rgb(173, 140, 89);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color  0.5s ease-out;
  -o-transition: background-color  0.5s ease-out;
  transition: background-color  0.5s ease-out;
}

#event {
  vertical-align: middle;
  float: left;
  color: white;
  line-height: 140%;
  font-size: 90%;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
  display: block;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all  0.5s ease-out;
  -o-transition: all  0.5s ease-out;
  transition: all  0.5s ease-out;

}

#event:hover {
  outline-color: transparent;
}

#event a {
  padding: 5px 10px;
  display: block;
  width: 100px;
  font-size: 12px;
  text-align: center;
  letter-spacing: .4em;
  color: rgb(173, 140, 89);
  text-decoration: none;
  font-family: "Josefin+Sans", sans-serif, "Josefin Slab", serif;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all  0.5s ease-out;
  -o-transition: all  0.5s ease-out;
  transition: all  0.5s ease-out;
}

@media only screen and (max-width : 840px)  {
  #event {
    float: none;
    margin: 20px auto 0;
    text-align: center;
    width: 75%;
  }
  #event a {
    font-size: 12px;
    padding: 10px;
    letter-spacing: .2em;
    display: block;
    text-align: center;
    width: auto;
  }
}



#event a:hover{
  color: black;
  background-color: rgb(173, 140, 89);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color  0.5s ease-out;
  -o-transition: background-color  0.5s ease-out;
  transition: background-color  0.5s ease-out;
  outline-color: transparent;
}



/*   FORMULAR   */

.formular {
  width: 40%;
  margin: 0 auto;
}


@media only screen and (max-width : 768px)  {
  .formular {
    width: 80%;
  }
}

.main fieldset {
  border: none;
}

.main label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 10px;
  display: block;
  letter-spacing:0.1em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 6px 0 5px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main textarea,
.main input {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 1.6;
  padding: 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Josefin+Sans", sans-serif, "Josefin Slab", serif;
}

.main textarea {
  min-height: 120px;
}

.main .formsend {
  float: left;
  width: 100%;
}
.main input.submit {
  appearance:button;
  -moz-appearance:button;
  -webkit-appearance:button;
  width: 200px;
  color: white;
  line-height: 140%;
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  background: none;
  border: none;
  border-radius: 0;
  padding: 10px;
  display: block;
  color: rgb(173, 140, 89);
  letter-spacing: .4em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 25px auto 30px;
  float: none;
}

.main input.submit:hover {
  background: rgb(173, 140, 89);
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all  0.5s ease-out;
  -o-transition: all  0.5s ease-out;
  transition: all  0.5s ease-out;
  outline-color: transparent;
}






/*#youtube	{ 	float: left;
				width: 5%;
				padding-right: 2%;
}*/


/*-------
nav a:link {	color: white;
				text-decoration: none;
}

nav a:visited	{	color: red;
					text-decoration: none;
}

nav a:hover, a:focus	{	color: #A4A4A4;
}

nav a:active	{	color:red;
}

li a:active, li a:hover{
	color: red;
}
---------*/

footer {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

footer.bottom 	{
  position:absolute;
  bottom:20px;
  left: 0;
  width: 100%;
  height:40px;
  margin: 0;
}

@media only screen and (max-width : 767px)  {
  footer {
    position: relative;
    float: left;
  }
}

.social {
  margin: 0 auto;
  display: block;
  width: 150px;
}

.socialicon {
  float: left;
  display: block;
  margin: 0 10px;
}

.socialicon a {
  display: block;
  -webkit-transition: background-image 0.5s ease-out;
  -moz-transition: background-image 0.5s ease-out;
  -o-transition: background-image 0.5s ease-out;
  transition: background-image 0.5s ease-out;
}
.newsall{
  margin: 0 auto;
  width: 780px;
}
.news1, .news2{
  width: 350px;
  float: left;
  text-align:left;
  font-size:120%;
  font-weight:100;
  padding:20px;
}

.news2 {
  padding-bottom: 120px;
}

.news1artikel{
  padding-top:10px;
  text-align: left;
  font-family: "Josefin Sans";
  line-height: 140%;
  font-weight: 130%;
  font-size: 90%;
}

.date{
  font-size: 80%;
  color: rgb(173, 140, 89);
  letter-spacing: 0.1em;
}


@media only screen and (max-width : 840px)  {
  .newsall {
    /*float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;*/
    width: 350px;
    max-width: 90%;
  }
  .news1, .news2 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .news1artikel,
  .date {
    text-align: center;
  }
}




.songsall{
  margin: 0 auto;
  width: 780px;
}


.song {
  width: 350px;
  text-align:left;
  font-size:120%;
  font-weight:100;
  padding: 20px;
}

.song.left {
  float: left;
}
.song.right {
  float: right;
}



.songtext{
  padding-top:10px;
  text-align: left;
  font-family: "Josefin Sans";
  line-height: 140%;
  font-weight: 130%;
  font-size: 90%;
}
.umbruch{
  padding-bottom: 5%;
}

@media only screen and (max-width : 840px)  {
  .songsall {
    /*float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;*/
    width: 350px;
    max-width: 90%;
  }
  .song1, .song2, .song3, .song4 {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .songtext {
    text-align: center;
  }
}



/*--
@media only screen and (max-width : 768px)  {
  .songsall, .news1, .news2{
    clear: both;
  } --*/




#youtube a {
  width: 30px;
  height: 24px;
  background: url(../img/youtube_white.png) no-repeat 0 0;
  background-size: 30px auto;
}

#facebook a {
  width: 30px;
  height: 24px;
  background: url(../img/facebook_white.png) no-repeat 0 0;
  background-size: 30px auto;
}

#soundcloud a {
  width: 30px;
  height: 24px;
  background: url(../img/soundcloud_white.png) no-repeat 0 0;
  background-size: 30px auto;
}


#youtube a:hover {
  background-image: url(../img/youtube_gold.png);
}
#facebook a:hover {
  background-image: url(../img/facebook_gold.png);
}
#soundcloud a:hover {
  background-image: url(../img/soundcloud_gold.png);
}